*.gguf
*.pt
*.pth
*.bin
*.safetensors
*.vrm
*.ckpt
*.model.Q4_K_M

GPT-SoVITS/鸣潮/
GPT-SoVITS/GPT_weights/
GPT-SoVITS/SoVITS_weights/
ModelFinetune/model/
ModelFinetune/train/outputs/
**/lora_model/
**/checkpoint-*/
**/unsloth_compiled_cache/
.cache/
ModelFinetune/dataset/DISC-Law-SFT
ModelFinetune/dataset/lawyer_llama_data
frontend/node_modules/
**/node_modules/
node_modules/
ChatVRM/node_modules/

.next/
node_modules/